<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:post-title {"level":1} /-->
    
    <!-- wp:post-featured-image /-->
    
    <!-- wp:post-date /-->
    
    <!-- wp:post-author {"showAvatar":false} /-->
    
    <!-- wp:post-content /-->
    
    <!-- wp:post-terms {"term":"category"} /-->
    
    <!-- wp:post-terms {"term":"post_tag"} /-->
    
    <!-- wp:post-navigation-link {"type":"previous"} /-->
    <!-- wp:post-navigation-link {"type":"next"} /-->
    
    <!-- wp:comments /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
